<!DOCTYPE html>
<html>
	<head>
		<title>Using tracking.js</title>
	</head>
	<body>
		<style type="text/css">
			.rect {
				border: 2px solid green;
				left: -1000px;
				position: absolute;
				top: -1000px;
			}
		</style>
		<div ng-app="imgrec">
			<div ng-controller="RecognationController">
				<div class="form-group">
					<label>URL</label>
					<input name="url" ng-model="foto.url" required>
				</div>
				<div class="demo-container">
					<img class="img-responsive center-block ng-scope" ng-src="{{foto.url}}"  >
				</div>
				<br/>
				<button ng-click="recognation()">Recognation</button>
			</div>
		</div>
		
		<script src="node_modules/tracking/build/tracking-min.js"></script>
		<script src="node_modules/tracking/build/data/face-min.js"></script>
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>